.body {
  background-color: #323333;
  background-image: -webkit-linear-gradient(270deg, rgba(24, 125, 255, .5), rgba(24, 125, 255, .5));
  background-image: linear-gradient(180deg, rgba(24, 125, 255, .5), rgba(24, 125, 255, .5));
}

.div-block {
  background-color: #0098ff;
  opacity: 0.4;
}

.heading {
  margin-top: -98px;
  margin-left: 11px;
  float: left;
  font-family: Exo, sans-serif;
  color: #15a4f5;
  font-size: 60px;
  font-style: italic;
}

.heading-2 {
  margin-top: -98px;
  margin-right: 1px;
  margin-left: 246px;
  float: left;
  color: #b8beee;
  font-size: 60px;
}

.button {
  margin-top: 28px;
  margin-right: 33px;
  float: right;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 0 #000;
}

.button.w--current {
  margin-top: -96px;
  float: right;
  clear: both;
  -webkit-transition: opacity 200ms ease, -webkit-transform 1000ms ease;
  transition: opacity 200ms ease, -webkit-transform 1000ms ease;
  transition: transform 1000ms ease, opacity 200ms ease;
  transition: transform 1000ms ease, opacity 200ms ease, -webkit-transform 1000ms ease;
}

.button.w--current:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(11, 87, 184, .5), rgba(11, 87, 184, .5));
  background-image: linear-gradient(180deg, rgba(11, 87, 184, .5), rgba(11, 87, 184, .5));
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.form-wrapper {
  margin-top: 120px;
}

.field-label {
  margin-top: 57px;
  margin-left: 12px;
  float: left;
  color: #fff;
  font-size: 20px;
  font-style: normal;
}

.field-label-2 {
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
}

.text-field {
  margin-right: 0px;
  margin-bottom: 22px;
  margin-left: 10px;
  padding-right: 6px;
  box-shadow: 3px 4px 3px 0 #000;
}

.text-block {
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
}

.text-field-2 {
  margin-bottom: 22px;
  margin-left: 10px;
  box-shadow: 3px 4px 3px 0 #000;
}

.important-text {
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
}

.text-field-3 {
  margin-bottom: 22px;
  margin-left: 10px;
  box-shadow: 1px 1px 3px 0 #000, 3px 4px 3px 0 #000;
}

.important-text-2 {
  margin-left: 12px;
  color: #fff;
  font-size: 20px;
}

.text-field-4 {
  margin-bottom: 22px;
  margin-left: 10px;
  box-shadow: 3px 4px 3px 0 #000;
}

.text-field-5 {
  margin-bottom: 22px;
  margin-left: 10px;
  box-shadow: 3px 4px 3px 0 #000;
}

.submit-button {
  margin-right: 0px;
  margin-left: 23px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: background-color 1000ms ease, -webkit-transform 1000ms ease;
  transition: background-color 1000ms ease, -webkit-transform 1000ms ease;
  transition: background-color 1000ms ease, transform 1000ms ease;
  transition: background-color 1000ms ease, transform 1000ms ease, -webkit-transform 1000ms ease;
}

.submit-button:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(11, 87, 184, .5), rgba(11, 87, 184, .5));
  background-image: linear-gradient(180deg, rgba(11, 87, 184, .5), rgba(11, 87, 184, .5));
  -webkit-transform: scale(1.19);
  -ms-transform: scale(1.19);
  transform: scale(1.19);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-2 {
  margin-top: -89px;
  float: right;
}

.button-3 {
  margin-right: 14px;
  margin-left: 14px;
  float: right;
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="new-interaction-4"] {
  -webkit-transform: translate(-1640px, 0px);
  -ms-transform: translate(-1640px, 0px);
  transform: translate(-1640px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-5"] {
  -webkit-transform: translate(-1640px, 0px);
  -ms-transform: translate(-1640px, 0px);
  transform: translate(-1640px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-6"] {
  -webkit-transform: translate(-1640px, 0px);
  -ms-transform: translate(-1640px, 0px);
  transform: translate(-1640px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-7"] {
  -webkit-transform: translate(-1640px, 0px);
  -ms-transform: translate(-1640px, 0px);
  transform: translate(-1640px, 0px);
}

html.w-mod-js *[data-ix="new-interaction-8"] {
  -webkit-transform: translate(-1640px, 0px);
  -ms-transform: translate(-1640px, 0px);
  transform: translate(-1640px, 0px);
}