
#header
{
	background:black;
	color:white;
	overflow:auto;
}

.wrapper
{
	margin:auto;
	
}
.alignleft {
	float: left;
	padding-left: 1%;
}
.alignright {
	float: right;
	 padding-right: 10%;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

form {
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 40%;
    margin: auto
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
    
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.logInForm
{
	margin: 100px auto 0  auto;
	width: 800px;
	
}

.movieInfo
{
	 margin: auto;
}

#reviewInfo
{
	margin: auto
}

.writeReview
{
	margin:auto;
	display:block;
	width: 400px;
}



